# .env.example
# Node environment
NODE_ENV=production
PORT=8080

# MongoDB URI String
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.db.mongodb.net/your_db?retryWrites=true&w=majority

# Secret for JSON Web Tokens
JWT_SECRET=super-secret-production-key

# First Admin Credentials Options
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=strongpassword123

# Render doesn't need to specify PYTHON_BIN typically, but if needed via custom path
PYTHON_BIN=python
